<nav class="blue darken-4">
    <div class="nav-wrapper">
      <a href="/api/ways/" class="brand-logo" >SimpleWays</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li><a href="/api/ways/">Маршруты</a></li>
        <li><a href="/api/ways/create">Добавить маршрут</a></li>
        <li><a href="/api/auth/login">Авторизация</a></li>

      </ul>
    </div>
  </nav>