<form action="./create" method="POST">
    <h2>Добавить маршрут</h2>

    <div class="input-field">
        <input type="number" name="number">
        <label>Номер маршрута</label>
    </div>

    <div class="input-field">
        <input type="text" name="name">
        <label>Название маршрута</label>
    </div>

    <div class="input-field">
        <input type="text" name="way">
        <label>Список остановок</label>
    </div>

    <button type="submit" class="btn">Добавить</button>
</form>

