<form action="/api/auth/login" method="POST">
    <h2>Вход</h2>

    <label>
        <span>{{message}}</span>
    </label>

    <div class="input-field">
        <input type="text" name="email">
        <label>Электронная почта</label>
    </div>

    <div class="input-field">
        <input type="text" name="password">
        <label>Пароль</label>
    </div>

    <a href="./register">Создать аккаунт</a>
    <button type="submit" class="btn">Войти</button>
</form>