<form action="/api/auth/register" method="POST">
    <h2>Добавить пользователя</h2>

    <label>
        <span>{{message}}</span>
    </label>

    <div class="input-field">
        <input type="text" name="name">
        <label>Имя</label>
    </div>

    <div class="input-field">
        <input type="text" name="surname">
        <label>Фамилия</label>
    </div>

    <div class="input-field">
        <input type="text" name="email">
        <label>Электронная почта</label>
    </div>

    <div class="input-field">
        <input type="text" name="password">
        <label>Пароль</label>
    </div>

    <div class="input-field">
        <input type="text" name="confirm">
        <label>Подтвердите пароль</label>
    </div>

    <button type="submit" class="btn">Зарегистрироваться</button>
</form>